# Loading and Preprocessing our Data

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import datetime as dt

This link contains every mlb game ever played with their elo scores as well as some other information we will find useful. This will play the role of a starter dataframe to then add the rest of our data to.

In [2]:
mlb_elo = pd.read_csv('https://projects.fivethirtyeight.com/mlb-api/mlb_elo.csv')

We only want dates from 2000-2019 (Not 2020 because of the COVID shortened season).

In [3]:
mlb_elo = mlb_elo[(mlb_elo['date'] >= '2001-03-29') & (mlb_elo['date'] <= '2019-9-29')]

We are going to drop any row that was a playoff row just giving us regular season games as well.

In [4]:
mlb_elo = mlb_elo[(mlb_elo['playoff'] != 'w') &
                  (mlb_elo['playoff'] != 'l') &
                 (mlb_elo['playoff'] != 'd') &
                 (mlb_elo['playoff'] != 'c')]

In [5]:
mlb_elo.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
988,2019-09-29,2019,0,NaN,STL,CHC,1545.306947,1531.092895,0.554774,0.445226,...,62.082428,46.537439,45.053652,-22.977772,0.644813,0.355187,1545.776596,1530.204782,9,0
989,2019-09-29,2019,0,NaN,KCR,MIN,1429.995452,1549.426829,0.366016,0.633984,...,43.237569,44.422197,-18.509968,-29.389175,0.384372,0.615628,1430.506140,1544.557193,5,4
990,2019-09-29,2019,0,NaN,SEA,OAK,1467.732500,1577.147150,0.379496,0.620504,...,47.343036,48.967613,5.136325,-10.115520,0.418133,0.581867,1465.818655,1559.092801,3,1
991,2019-09-29,2019,0,NaN,NYM,ATL,1528.343228,1548.881950,0.504981,0.495019,...,52.198149,55.169700,-6.560683,23.550643,0.474830,0.525170,1533.426584,1542.584611,7,6
992,2019-09-29,2019,0,NaN,COL,MIL,1469.463417,1534.015807,0.441904,0.558096,...,45.894572,50.547683,-12.012266,-1.101518,0.448627,0.551373,1482.362549,1528.964194,4,3

In [6]:
mlb_elo['home_win'] = np.where(mlb_elo['score1'] > mlb_elo['score2'], 1, 0)

Now, we can rename the columns to be more user friendly and start loading in the rest of our data.

In [7]:
mlb_elo = mlb_elo[['date', 'team1', 'team2', 'home_win', 'elo1_pre', 'elo2_pre', 'pitcher1', 'pitcher2']]

In [8]:
mlb_elo = mlb_elo.rename(columns={'date':'date', 
                'team1': 'home_team',
                'team2': 'away_team', 
                'elo1_pre': 'home_elo', 
                'elo2_pre': 'away_elo',
                'pitcher1': 'home_pitcher',
                'pitcher2': 'away_pitcher'})

In [9]:
mlb_elo.head()

,date,home_team,away_team,home_win,home_elo,away_elo,home_pitcher,away_pitcher
988,2019-09-29,STL,CHC,1,1545.306947,1531.092895,Jack Flaherty,Derek Holland
989,2019-09-29,KCR,MIN,1,1429.995452,1549.426829,Jorge Lopez,Martin Perez
990,2019-09-29,SEA,OAK,1,1467.732500,1577.147150,Justin Dunn,Tanner Roark
991,2019-09-29,NYM,ATL,1,1528.343228,1548.881950,Noah Syndergaard,Mike Soroka
992,2019-09-29,COL,MIL,1,1469.463417,1534.015807,Jeff Hoffman,Adrian Houser

# Loading hitter data

In [10]:
avg_df = pd.read_csv('../../../github_repos/mlb-game-prediction/output-data/covariates/COVARIATE_AVG.csv', index_col = 'date')
obp_df = pd.read_csv('../../../github_repos/mlb-game-prediction/output-data/covariates/COVARIATE_OBP.csv', index_col = 'date')
slg_df = pd.read_csv('../../../github_repos/mlb-game-prediction/output-data/covariates/COVARIATE_SLG.csv', index_col = 'date')

In [11]:
avg_df.head()

,ANA,ARI,ATL,BAL,BOS,CHA,CHN,CIN,CLE,COL,...,PHI,PIT,SDN,SEA,SFN,SLN,TBA,TEX,TOR,WAS
date,,,,,,,,,,,,,,,,,,,,,
20010401,0.277406,0.263385,0.268227,0.269526,0.265407,0.283532,0.254189,0.272199,0.285689,0.290176,...,0.249414,0.264954,0.251828,0.26728,0.276079,0.267825,0.255143,0.281519,0.273459,0.264347
20010402,0.277406,0.263385,0.268227,0.269526,0.265407,0.283532,0.254189,0.272199,0.285689,0.290176,...,0.249414,0.264954,0.251828,0.26728,0.276079,0.267825,0.255143,0.281519,0.273459,0.264347
20010403,0.277406,0.263385,0.268227,0.269526,0.265407,0.283532,0.254189,0.272199,0.285689,0.290176,...,0.249414,0.264954,0.251828,0.26728,0.276079,0.267825,0.255143,0.281519,0.273459,0.264347
20010404,0.277406,0.263385,0.268227,0.269526,0.265407,0.283532,0.254189,0.272199,0.285689,0.290176,...,0.249414,0.264954,0.251828,0.26728,0.276079,0.267825,0.255143,0.281519,0.273459,0.264347
20010405,0.277406,0.263385,0.268227,0.269526,0.265407,0.283532,0.254189,0.272199,0.285689,0.290176,...,0.249414,0.264954,0.251828,0.26728,0.276079,0.267825,0.255143,0.281519,0.273459,0.264347

Below, we are chanining the team name abbreviations to match eachother for all of the dataframes.

In [12]:
def convert_team_ids(team):
    if (team == 'LAA'):
        return 'ANA' # matches up with previous table
    if (team == 'FLA'):
        return 'MIA' # matches up with previous table
    if (team == 'WSN'):
        return 'WAS' # matches up with previous table
    if (team == 'SFG'):
        return 'SFN'
    if (team == 'NYY'):
        return 'NYA'
    if (team == 'NYM'):
        return 'NYN'
    if (team == 'CHW'):
        return 'CHA'
    if (team == 'CHC'):
        return 'CHN'
    if (team == 'KCR'):
        return 'KCA'
    if (team == 'SDP'):
        return 'SDN'
    if (team == 'LAD'):
        return 'LAN'
    if (team == 'STL'):
        return 'SLN'
    if (team == 'TBD'):
        return 'TBA'
    return team

mlb_elo['home_team'] = mlb_elo['home_team'].apply(convert_team_ids)
mlb_elo['away_team'] = mlb_elo['away_team'].apply(convert_team_ids)

We are going to make these columns below but first we want to set them to zero just in case a null value occurs.

In [13]:
mlb_elo['home_avg'] = 0
mlb_elo['away_avg'] = 0
mlb_elo['home_obp'] = 0
mlb_elo['away_obp'] = 0
mlb_elo['home_slg'] = 0
mlb_elo['away_slg'] = 0

In [14]:
mlb_elo['date'] = mlb_elo.date.apply(lambda x: int(x.split('-')[0] + x.split('-')[1] + x.split('-')[2]))

The function below will go through the avg_df, obp_df, and slg_df and select the row based on the date and the column based on the specific team and then match that with its corresponding avg, obp, or slg respectively.

In [15]:
def get_covariates(x):
    x['home_avg'] = avg_df.loc[x['date']][x['home_team']]
    x['away_avg'] = avg_df.loc[x['date']][x['away_team']]
    x['home_obp'] = obp_df.loc[x['date']][x['home_team']]
    x['away_obp'] = obp_df.loc[x['date']][x['away_team']]
    x['home_slg'] = slg_df.loc[x['date']][x['home_team']]
    x['away_slg'] = slg_df.loc[x['date']][x['away_team']]
    return(x)
mlb_elo = mlb_elo.apply(get_covariates, axis = 1)

In [16]:
mlb_elo.head()

,date,home_team,away_team,home_win,home_elo,away_elo,home_pitcher,away_pitcher,home_avg,away_avg,home_obp,away_obp,home_slg,away_slg
988,20190929,SLN,CHN,1,1545.306947,1531.092895,Jack Flaherty,Derek Holland,0.222222,0.243802,0.321875,0.312030,0.415771,0.392562
989,20190929,KCA,MIN,1,1429.995452,1549.426829,Jorge Lopez,Martin Perez,0.289256,0.279352,0.350943,0.340741,0.475207,0.510121
990,20190929,SEA,OAK,1,1467.732500,1577.147150,Justin Dunn,Tanner Roark,0.174312,0.217021,0.227468,0.297710,0.243119,0.357447
991,20190929,NYN,ATL,1,1528.343228,1548.881950,Noah Syndergaard,Mike Soroka,0.256098,0.237903,0.336957,0.325000,0.443089,0.395161
992,20190929,COL,MIL,1,1469.463417,1534.015807,Jeff Hoffman,Adrian Houser,0.230496,0.233202,0.306709,0.331034,0.421986,0.430830

We will want to make the date column a datetime type now so that we can make year, month, and day columns

In [17]:
mlb_elo['date'] = pd.to_datetime(mlb_elo['date'], format='%Y%m%d')

In [18]:
mlb_elo['Y'] = (mlb_elo.date).apply(lambda x: x.year)
mlb_elo['M'] = (mlb_elo.date).apply(lambda x: x.month)
mlb_elo['D'] = (mlb_elo.date).apply(lambda x: x.day)

In [19]:
mlb = mlb_elo[['date', 'Y', 'M', 'D',
               'home_team', 'away_team', 'home_win',
               'home_pitcher', 'away_pitcher',
               'home_elo', 'away_elo',
               'home_avg', 'away_avg',
               'home_obp', 'away_obp',
               'home_slg', 'away_slg']]

In [20]:
mlb = mlb.sort_values(by='date')
mlb = mlb.reset_index()

In [21]:
mlb.head()

,index,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,away_elo,home_avg,away_avg,home_obp,away_obp,home_slg,away_slg
0,47756,2001-04-01,2001,4,1,TOR,TEX,1,loaie001,hellr001,1499.563,1479.163,0.273459,0.281519,0.339283,0.349386,0.466387,0.443116
1,47746,2001-04-02,2001,4,2,SFN,SDN,1,hernl003,willw001,1540.841,1492.800,0.276079,0.251828,0.359380,0.327088,0.468525,0.398252
2,47747,2001-04-02,2001,4,2,SEA,OAK,1,Freddy Garcia,Tim Hudson,1519.464,1534.696,0.267280,0.268144,0.358599,0.357409,0.438008,0.454237
3,47748,2001-04-02,2001,4,2,NYA,KCA,1,clemr001,suppj001,1529.511,1493.152,0.275080,0.285268,0.351633,0.344703,0.446269,0.421482
4,47749,2001-04-02,2001,4,2,LAN,MIL,1,parkc002,Jamey Wright,1515.925,1490.396,0.254198,0.243537,0.336984,0.322708,0.426431,0.400071

# Making Features and Difference Columns

An important feature is ISO which is just slg minus avg

In [22]:
mlb['home_iso'] = mlb['home_slg'] - mlb['home_avg']
mlb['away_iso'] = mlb['away_slg'] - mlb['away_avg']

We can now make a few difference columns as well as percent difference. I am not sure if these will be useful but it will give the model a different way to look at the data.

In [23]:
mlb['elo_diff'] = mlb['home_elo'] - mlb['away_elo']
mlb['elo_pct_diff'] = (mlb['elo_diff'])/(mlb['home_elo'])*100

In [24]:
# > 0 = home is better
mlb['avg_diff'] = (mlb['home_avg'] - mlb['away_avg'])
mlb['obp_diff'] = (mlb['home_obp'] - mlb['away_obp'])
mlb['slg_diff'] = (mlb['home_slg'] - mlb['away_slg'])

# scaling doesn't matter for many cases
mlb['avg_pct_diff'] = (mlb['avg_diff'])/(mlb['home_avg'])*100
mlb['obp_pct_diff'] = (mlb['obp_diff'])/(mlb['home_obp'])*100
mlb['slg_pct_diff'] = (mlb['slg_diff'])/(mlb['home_slg'])*100

In [25]:
mlb = mlb.drop('index', axis='columns')

In [26]:
mlb.head()

,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,...,home_iso,away_iso,elo_diff,elo_pct_diff,avg_diff,obp_diff,slg_diff,avg_pct_diff,obp_pct_diff,slg_pct_diff
0,2001-04-01,2001,4,1,TOR,TEX,1,loaie001,hellr001,1499.563,...,0.192927,0.161597,20.400,1.360396,-0.008060,-0.010103,0.023271,-2.947374,-2.977845,4.989568
1,2001-04-02,2001,4,2,SFN,SDN,1,hernl003,willw001,1540.841,...,0.192446,0.146424,48.041,3.117843,0.024251,0.032292,0.070273,8.784099,8.985458,14.998766
2,2001-04-02,2001,4,2,SEA,OAK,1,Freddy Garcia,Tim Hudson,1519.464,...,0.170727,0.186092,-15.232,-1.002459,-0.000864,0.001190,-0.016229,-0.323318,0.331871,-3.705210
3,2001-04-02,2001,4,2,NYA,KCA,1,clemr001,suppj001,1529.511,...,0.171189,0.136214,36.359,2.377165,-0.010188,0.006929,0.024787,-3.703559,1.970596,5.554343
4,2001-04-02,2001,4,2,LAN,MIL,1,parkc002,Jamey Wright,1515.925,...,0.172233,0.156534,25.529,1.684054,0.010660,0.014276,0.026359,4.193722,4.236467,6.181414

In [27]:
mlb['home_rest'] = 0
mlb['away_rest'] = 0

In [28]:
last_game = dict(zip(list(set(mlb['home_team'])), [-1 for _ in range(30)]))

In [29]:
def home_rest(i):
    home_index = mlb.loc[i]['home_team']

    try:
        days_rest = (mlb.loc[i, 'date'] - last_game[home_index]).days
        last_game[home_index] = mlb.loc[i, 'date']
        return days_rest
    except:
        last_game[home_index] = mlb.loc[i, 'date']
        return 5 # >= 5

def away_rest(i):
    away_index = mlb.loc[i]['away_team']

    try:
        days_rest = (mlb.loc[i, 'date'] - last_game[away_index]).days
        last_game[away_index] = mlb.loc[i, 'date']
        return days_rest
    except:
        last_game[away_index] = mlb.loc[i, 'date']
        return 5 # >= 5

In [30]:
for i in range(len(mlb)):
    if (i % 4000 == 0):
        print(i)
    mlb.loc[i, 'home_rest'] = home_rest(i)
    mlb.loc[i, 'away_rest'] = away_rest(i)

0
4000
8000
12000
16000
20000
24000
28000
32000
36000
40000
44000

In [32]:
mlb.head(30)

,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,...,elo_diff,elo_pct_diff,avg_diff,obp_diff,slg_diff,avg_pct_diff,obp_pct_diff,slg_pct_diff,home_rest,away_rest
0,2001-04-01,2001,4,1,TOR,TEX,1,loaie001,hellr001,1499.563,...,20.400,1.360396,-0.008060,-0.010103,0.023271,-2.947374,-2.977845,4.989568,5,5
1,2001-04-02,2001,4,2,SFN,SDN,1,hernl003,willw001,1540.841,...,48.041,3.117843,0.024251,0.032292,0.070273,8.784099,8.985458,14.998766,5,5
2,2001-04-02,2001,4,2,SEA,OAK,1,Freddy Garcia,Tim Hudson,1519.464,...,-15.232,-1.002459,-0.000864,0.001190,-0.016229,-0.323318,0.331871,-3.705210,5,5
3,2001-04-02,2001,4,2,NYA,KCA,1,clemr001,suppj001,1529.511,...,36.359,2.377165,-0.010188,0.006929,0.024787,-3.703559,1.970596,5.554343,5,5
4,2001-04-02,2001,4,2,LAN,MIL,1,parkc002,Jamey Wright,1515.925,...,25.529,1.684054,0.010660,0.014276,0.026359,4.193722,4.236467,6.181414,5,5
5,2001-04-02,2001,4,2,BAL,BOS,1,hentp001,martp001,1488.060,...,-27.755,-1.865180,0.004119,-0.000705,0.010478,1.528361,-0.208591,2.428605,5,5
6,2001-04-02,2001,4,2,COL,SLN,1,hampm001,kiled001,1507.250,...,-20.933,-1.388821,0.022351,0.004165,-0.002514,7.702701,1.164985,-0.560900,5,5
7,2001-04-02,2001,4,2,CHN,WAS,0,liebj001,vazqj001,1462.510,...,0.745,0.050940,-0.010158,0.009335,-0.018992,-3.996340,2.803560,-4.646432,5,5
8,2001-04-02,2001,4,2,MIA,PHI,0,Ryan Dempster,daalo001,1485.779,...,16.198,1.090203,0.009154,0.000942,0.008884,3.540184,0.287582,2.197547,5,5
9,2001-04-02,2001,4,2,CLE,CHA,0,Bartolo Colon,welld001,1534.350,...,16.535,1.077655,0.002157,0.010834,-0.000192,0.755044,2.978515,-0.041302,5,5
10,2001-04-02,2001,4,2,CIN,ATL,0,harnp001,burkj001,1527.274,...,3.410,0.223274,0.003972,-0.001729,0.020216,1.459194,-0.506960,4.555242,5,5
11,2001-04-03,2001,4,3,TEX,ANA,1,rogek001,schos001,1476.196,...,-23.662,-1.602904,0.004114,-0.000425,-0.025513,1.461195,-0.121774,-5.757626,2,5
12,2001-04-03,2001,4,3,SEA,OAK,0,halaj001,Barry Zito,1520.785,...,-12.589,-0.827796,-0.000864,0.001190,-0.016229,-0.323318,0.331871,-3.705210,1,1
13,2001-04-03,2001,4,3,LAN,ARI,0,gagne001,johnr005,1517.072,...,2.339,0.154179,-0.009187,0.005903,0.000092,-3.614248,1.751728,0.021640,1,5
14,2001-04-03,2001,4,3,TBA,TOR,1,lopea002,parrs001,1479.224,...,-23.307,-1.575623,-0.018317,-0.012518,-0.069959,-7.179060,-3.830964,-17.647441,5,2
15,2001-04-03,2001,4,3,MIA,PHI,0,clemm001,persr001,1484.216,...,13.073,0.880802,0.009154,0.000942,0.008884,3.540184,0.287582,2.197547,1,1
16,2001-04-03,2001,4,3,DET,MIN,0,weavj002,radkb001,1506.170,...,36.961,2.453973,0.005372,0.005932,0.030969,1.970831,1.746337,7.142021,5,5
17,2001-04-03,2001,4,3,CIN,PIT,1,ferno001,ritct001,1523.751,...,41.600,2.730105,0.007244,0.004821,0.022968,2.661465,1.413582,5.175333,1,5
18,2001-04-03,2001,4,3,ATL,NYN,0,glavt001,leita001,1527.386,...,-7.808,-0.511200,0.007389,-0.000236,-0.001996,2.754636,-0.068952,-0.471142,1,5
19,2001-04-03,2001,4,3,HOU,MIL,1,elars001,haynj001,1508.812,...,19.562,1.296517,0.031210,0.034546,0.071050,11.359400,9.669848,15.081053,5,1
20,2001-04-04,2001,4,4,LAN,ARI,0,dreid001,schic002,1515.544,...,-0.717,-0.047310,-0.009187,0.005903,0.000092,-3.614248,1.751728,0.021640,1,1
21,2001-04-04,2001,4,4,TEX,ANA,1,olivd001,rappp001,1477.559,...,-20.936,-1.416932,0.004114,-0.000425,-0.025513,1.461195,-0.121774,-5.757626,1,1
22,2001-04-04,2001,4,4,TBA,TOR,0,wilsp001,hamij002,1482.786,...,-16.183,-1.091391,-0.018317,-0.012518,-0.069959,-7.179060,-3.830964,-17.647441,1,1
23,2001-04-04,2001,4,4,SEA,OAK,1,selea001,hereg001,1518.120,...,-17.919,-1.180341,-0.000864,0.001190,-0.016229,-0.323318,0.331871,-3.705210,1,1
24,2001-04-04,2001,4,4,NYA,KCA,1,Andy Pettitte,steib002,1531.439,...,40.215,2.625962,-0.010188,0.006929,0.024787,-3.703559,1.970596,5.554343,2,2
25,2001-04-04,2001,4,4,HOU,MIL,1,limaj001,rigdp001,1512.057,...,26.052,1.722951,0.031210,0.034546,0.071050,11.359400,9.669848,15.081053,1,1
26,2001-04-04,2001,4,4,SFN,SDN,1,ruetk001,jarvk001,1541.853,...,50.065,3.247067,0.024251,0.032292,0.070273,8.784099,8.985458,14.998766,2,2
27,2001-04-04,2001,4,4,COL,SLN,1,neagd001,benea001,1510.930,...,-13.573,-0.898321,0.022351,0.004165,-0.002514,7.702701,1.164985,-0.560900,2,2
28,2001-04-04,2001,4,4,CLE,CHA,1,finlc001,eldrc001,1531.945,...,11.724,0.765302,0.002157,0.010834,-0.000192,0.755044,2.978515,-0.041302,2,2
29,2001-04-04,2001,4,4,CIN,PIT,0,reitc001,mulht001,1524.794,...,43.686,2.865043,0.007244,0.004821,0.022968,2.661465,1.413582,5.175333,1,1

In [27]:
mlb.to_csv('../data/mlb_games_df.csv')