# Team-level stats

- Avg. Home Attendance from the previous year
- Team ranking from previous year (could be from their W-L record or statcast has a rank column)

In [74]:
import pybaseball as pyb
import pandas as pd
import numpy as np

In [75]:
test_df = pyb.schedule_and_record(2001, 'BOS')

In [76]:
test_df.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Monday, Apr 2",BOS,@,BAL,L-wo,1.0,2.0,11.0,0-1,5.0,1.0,Kohlmeier,Lowe,None,2:52,D,46547.0,1.07,-1,None
2,"Wednesday, Apr 4",BOS,@,BAL,W,3.0,0.0,9.0,1-1,3.0,1.0,Nomo,Ponson,None,2:29,N,35602.0,1.06,1,None
3,"Thursday, Apr 5",BOS,@,BAL,L-wo,1.0,2.0,9.0,1-2,4.0,2.0,Groom,Lowe,None,2:54,N,33469.0,1.14,-1,None
4,"Friday, Apr 6",BOS,Home,TBD,W,11.0,4.0,9.0,2-2,3.0,1.5,Wakefield,Rupe,None,3:06,D,33525.0,1.02,1,None
5,"Saturday, Apr 7",BOS,Home,TBD,W,6.0,2.0,9.0,3-2,2.0,1.5,Crawford,Harper,None,2:35,N,31660.0,1.08,2,None

In [77]:
test_df.tail(10)

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
152,"Friday, Sep 28",BOS,@,DET,L,1.0,4.0,9.0,76-76,2.0,15.0,Weaver,Nomo,Anderson,2:54,N,32453.0,.00,-2,None
153,"Saturday, Sep 29",BOS,@,DET,L,2.0,7.0,9.0,76-77,2.0,15.0,Sparks,Kim,None,2:25,N,30089.0,.00,-3,None
154,"Sunday, Sep 30",BOS,@,DET,W,8.0,5.0,9.0,77-77,2.0,14.5,Castillo,Lima,Urbina,3:15,D,29229.0,.00,1,None
155,"Monday, Oct 1",BOS,@,TBD,L,3.0,10.0,9.0,77-78,2.0,15.5,Sturtze,Cone,None,2:57,N,10775.0,.00,-1,2001-09-11 (9/11 attack)
156,"Tuesday, Oct 2",BOS,@,TBD,L,3.0,10.0,9.0,77-79,2.0,16.5,Wilson,Fossum,None,2:50,N,11266.0,.00,-2,2001-09-12 (9/11 attack)
157,"Wednesday, Oct 3",BOS,@,TBD,W,10.0,3.0,9.0,78-79,2.0,16.5,Lowe,Rupe,Wakefield,2:52,N,10985.0,.00,1,2001-09-13 (9/11 attack)
158,"Thursday, Oct 4",BOS,@,BAL,W,5.0,4.0,9.0,79-79,2.0,15.5,Nomo,Wasdin,Urbina,3:10,N,43302.0,.00,2,2001-09-14 (9/11 attack)
159,"Friday, Oct 5 (1)",BOS,@,BAL,W,5.0,0.0,9.0,80-79,2.0,14.0,Castillo,Kohlmeier,None,2:54,D,46736.0,.00,3,2001-08-10 (Rain)
160,"Friday, Oct 5 (2)",BOS,@,BAL,W,7.0,5.0,10.0,81-79,2.0,14.0,Wakefield,Roberts,Garces,3:25,N,47927.0,.00,4,2001-09-15 (9/11 attack)
161,"Saturday, Oct 6",BOS,@,BAL,W,5.0,1.0,9.0,82-79,2.0,13.0,Cone,Bauer,None,2:43,N,48807.0,.00,5,2001-09-16 (9/11 attack)

In [78]:
teams = ['TOR', 'SFN', 'SEA', 'NYA', 'LAN', 'BAL', 'COL', 'CHN', 'MIA',
       'CLE', 'CIN', 'TEX', 'TBA', 'DET', 'ATL', 'HOU', 'MIL', 'WAS',
       'PHI', 'OAK', 'ARI', 'CHA', 'BOS', 'KCA', 'SLN', 'PIT', 'NYN',
       'MIN', 'SDN', 'ANA']

old_teams = ['LAA', 'FLA', 'WSN', 'SFG', 'NYY', 'NYM', 'CHW', 'CHC', 'KCR', 'SDP', 'LAD',
            'STL', 'TBD']

In [79]:
def convert_old_team_ids(team):
    if (team == 'LAA'):
        return 'ANA' # matches up with previous table
    if (team == 'FLA'):
        return 'MIA' # matches up with previous table
    if (team == 'WSN'):
        return 'WAS' # matches up with previous table
    if (team == 'SFG'):
        return 'SFN'
    if (team == 'NYY'):
        return 'NYA'
    if (team == 'NYM'):
        return 'NYN'
    if (team == 'CHW'):
        return 'CHA'
    if (team == 'CHC'):
        return 'CHN'
    if (team == 'KCR'):
        return 'KCA'
    if (team == 'SDP'):
        return 'SDN'
    if (team == 'LAD'):
        return 'LAN'
    if (team == 'STL'):
        return 'SLN'
    if (team == 'TBD'):
        return 'TBA'
    return team

In [80]:
def group_teams(team):
    if team in ['LAA', 'ANA']:
        return ['LAA', 'ANA']
    if team in ['FLA', 'MIA']:
        return ['FLA', 'MIA']
    if team in ['WSN', 'WAS']:
        return ['WSN', 'WAS']
    if team in ['SFG', 'ANA']:
        return ['SFG', 'SFN']
    if team in ['NYY', 'NYA']:
        return ['NYY', 'NYA']
    if team in ['NYM', 'NYN']:
        return ['NYM', 'NYN']
    if team in ['CHW', 'CHA']:
        return ['CHW', 'CHA']
    if team in ['CHC', 'CHN']:
        return ['CHC', 'CHN']
    if team in ['KCR', 'KCA']:
        return ['KCR', 'KCA']
    if team in ['SDP', 'SDN']:
        return ['SDP', 'SDN']
    if team in ['LAD', 'LAN']:
        return ['LAD', 'LAN']
    if team in ['STL', 'SLN']:
        return ['STL', 'SLN']
    if team in ['TBD', 'TBA']:
        return ['TBD', 'TBA']
    return [team]

In [81]:
def aggregate_teams(team):
    names = group_teams(team)
    team = names[-1]
    summary_dict = dict()
    for y in range(2000, 2020):
        for n in names:
            try:
                year_df = pyb.schedule_and_record(y, n)
                wins = int(year_df.iloc[-1]['W-L'].split('-')[0])
                losses = int(year_df.iloc[-1]['W-L'].split('-')[1])
                win_loss_pct = wins / (wins + losses)
                start_rank = int(float(year_df.iloc[0]['Rank']))
                end_rank = int(float(year_df.iloc[-1]['Rank']))
                summary_dict[y] = [team, wins, losses, win_loss_pct, year_df['Attendance'].mean(), start_rank, end_rank]
            except Exception as e:
                continue

    team_df = pd.DataFrame(summary_dict).transpose()
    team_df = team_df.reset_index()
    team_df.columns = ['Year', 'Tm', 'Wins', 'Losses', 'W-L-pct', 'Avg_Attendance', 'Initial_Rank', 'Final_Rank']
    team_df = team_df.sort_values('Year')
    
    team_df.to_csv(f'../data/team_stats/{team}.csv', index=False)
    print(f'Saved {team}.csv')

In [82]:
for t in teams:
    aggregate_teams(t)

Saved TOR.csv
Saved SFN.csv
Saved SEA.csv
Saved NYA.csv
Saved LAN.csv
Saved BAL.csv
Saved COL.csv
Saved CHN.csv
Saved MIA.csv
Saved CLE.csv
Saved CIN.csv
Saved TEX.csv
Saved TBA.csv
Saved DET.csv
Saved ATL.csv
Saved HOU.csv
Saved MIL.csv
Saved WAS.csv
Saved PHI.csv
Saved OAK.csv
Saved ARI.csv
Saved CHA.csv
Saved BOS.csv
Saved KCA.csv
Saved SLN.csv
Saved PIT.csv
Saved NYN.csv
Saved MIN.csv
Saved SDN.csv
Saved ANA.csv